<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/aboutus/about">About</a></li>
			<li><a href="/services/my_service">Service</a></li>
			<li><a href="#">Shop</a></li>
			<li><a href="#">Contact</a></li>
			
		</ul>